<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
    <title>Example website</title>
    </head>
    <body>
        <h1>Example website</h1>
        <form action="/" method="post">
            <input name="name" id="name" type="text" placeholder="Enter a name"/>
            <button type="submit">Submit</button>
        </form>

        <ul th:if="${names.size() > 0}">
            <li th:each="name : ${names}"><span th:text="${name}"></span></li>
        </ul>
        <p th:if="${names.size() == 0}">You have not entered any names yet!</p>

    </body>
</html>